
    <div th:fragment="FormSomaValores" id="form">
        <h2>Soma de Vendas Por Funcionario</h2>
        <form action="/buscaFunc" method="post" id="test">
            <table>
                <tbody>
                    <tr>
                        <td><label for="funcionario">Funcionario:</label></td>
                        <td>
                            <select name="funcionario" id="selectFunc" class="inputs">
                                <option value="" selected disabled>Selecione</option>
                                <option th:each="lista : ${funcionarios}" th:value="${lista.nomeFunc}" th:text="${lista.nomeFunc}"></option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="divBtn">
                <button type="submit" onclick="checkInput()" class="btnForms">Enviar</button>
            </div>
        </form>
    </div>
