<div th:fragment="ListSomaValores">
    <table>
        <thead>
            <tr>
                <th>Vendas</th>
                <th>Descontos</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="lista : ${vendas}">
                <td th:text="${lista.valorVenda}"></td>
                <td th:text="${lista.descontoVenda}"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">
                    Total
                </th>
            </tr>
            <tr th:each="lista : ${somaValores}">
                <td th:text="${lista.valorVenda}"></td>
                <td th:text="${lista.descontoVenda}"></td>
            </tr>
        </tfoot>
    </table>
</div>