<div
    layout:decorate="~{layouts/layout.html}"
    layout:fragment="conteudo"
>

    <div id="funcionalidades">
        <div>
             <i class="fas fa-user icons"></i>
             <a href="/funcionarios"><button class="btn">Funcionários</button></a>
        </div>
        <div>
             <i class="fas fa-money-check icons"></i>
             <a href="/vendas"><button class="btn">Vendas</button></a>
        </div>
        <div>
             <i class="fas fa-calculator icons"></i>
             <a href="/somaValores"><button class="btn">Valores</button></a>
        </div>
    </div>
</div>