@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

@font-face {
    font-family: 'good times';
    src: url('../fontes/Good-Times/GOODTIME.TTF') format('truetype');
    font-weight: normal;
}

:root{
    --cor0: #77c1f2af;
    --cor1: #2EA2F0;
    --cor2: #2480BD;
    --cor3: #133a53;
    --cor4: #154C70;

    --fonte-tec: 'good times', cursive;
    --fonte-tit: 'Roboto', cursive;
    --fonte-padrao: 'Catamaran', Arial, sans-serif;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

}

header {
    background-color: white;
    text-align: center;
    height: 90px;
    padding: 10px;
    font-family: var(--fonte-tec);
    color: var(--cor3);
    text-shadow: 1px 1px 5px rgb(175, 175, 175);
}

header > img {
    display: inline;
    float: left;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    color: white;
}

         /* Configurações no menu */

         nav ul {
          list-style-type: none;
      }
      
      nav > ul > li {
          display: inline;
      }

      nav > ul > li:hover{
        background-color: white;
        color: var(--cor3);
        padding: 5px;
        border-radius: 10px;

      }

      nav > ul > li > ul {
          display: none;
      }
      
      nav > ul > li:hover  ul {
          display: block;
          position: absolute;
          background-color: rgb(0, 47, 255);
          padding: 10px;
          width: 150px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
          border-radius: 10px;
      }

      /* Configurações do submenu */

      nav > ul > li > ul > li > a {
          text-decoration: none;
          color: white;
          font: bold 15pt Arial, sans-serif;
          line-height: 2em;
          padding: 10px;
      }

      nav > ul > li > ul li a:hover {
          background-color: white;
          color: rgb(0, 47, 255);
          border-radius: 5px;
          transition-duration: 0.2s;
          
          
      }


  main {
    background-color: white;
    padding: 10px;
    box-shadow: 4px 4px 9px #3982b37c;
    min-width: 250px;
    max-width: 800px;
    margin: auto;
    
  }

  main > h2 {
    font-family: var(--fonte-tit);
  }

  main > section > article.fundogolf {
    background-color: rgb(26, 26, 26);
    padding: 30px 43px 100px 43px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px rgb(145 145 145);
    width: 400px;
    height: 350px;
    margin: 30px auto 10px auto; 
  }

  main > section > article.fundogolf > div#fundobranco {
    background-color: white;
    border-radius: 20px;
    width: 396px;
    height: 340px;
  }

  main > section > article.fundogolf > div#comprar {
    background-color: var(--cor4);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    width: 120px;
    margin: 25px auto 0px auto;
}

article.fundogolf > div#comprar > a {
    text-decoration: none;
    color: white;
    font-family: var(--fonte-tec);
    font-size: 13pt;
}

main > section > article.fundogolf > div#comprar > a:hover {
    color: var(--cor1);
}


main > section > article.fundogolf > div > picture > img {
    width: 100%;
   
  }

main > section > article.fundogolf > div > aside {
    background-color: var(--cor2);
    padding: 13px;
    text-align: center;
    font: normal bold 22pt 'good times', cursive;
    border-radius: 10px 10px 0px 0px;

  }

  main > section > article.ficha {
    margin: 30px auto 0px auto;
  }

  main > section > article.ficha > aside {
    background-color: var(--cor2);
    padding: 10px;
    color: white;
    border-radius: 5px 5px 0px 0px;
  }

  main > section > article.ficha > picture > img {
    width: 100%;
  }

  footer {
    background-color: var(--cor2);
    color: white;
    padding: 20px;
    text-align: center;
    font: normal bold 12pt 'good times', cursive;
  }