<link rel="stylesheet" href="/css/home.css">
<a href="/chamada"><button style="margin: 2em;">Sair</button></a>
<div class="home">
    <div><%- include('../forms/join.ejs') %></div>
    <div><%- include('../forms/chat.ejs') %></div>
</div>

<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>

<script>
    var myId;
    const divChat = document.querySelector('.chat');
    const divJoin = document.querySelector('.join');
    const divMensagemContainer = document.querySelector('.mensagens-container');
    var socket = io('http://localhost:3000');
    var cod_sala;
    let listaMensagem = [];
    var roomCode = window.location.href.split('/')[window.location.href.split('/').length - 1]
    divChat.style.display = 'none';
    
    socket.on('mensagem_recebida', data => {
        console.log("chegou 2")
        console.log(data)
        listaMensagem.push(data);
        renderizarMensagens();
    })
    socket.on('id_usuario', id => {
        myId = id
    })
    
    const url = window.location.pathname;
    const parts = url.split('/');
    if (parts.length >= 3) {
        if (parts[2] !== "") {
            const cod_sala = parts[2];
            console.log('Código encontrado na URL:', cod_sala);
            socket.emit('entrar_sala', cod_sala);
            socket.on('erro', erro => {
                alert(erro)
                window.location.href = "/chamada"
            });
            socket.emit('set_nome', "Aleatório")      
            divJoin.style.display = 'none';
            divChat.style.display = 'block';     
        } else {
            alert("Sala não encontrada");
            window.location.href = "/chamada"
        }
    }

    async function entrar(e) {
        e.preventDefault();
        const roomCode = document.getElementById('codSala').value
        window.location.href = `/chamada/${roomCode}`
    }

    async function criarSala(e) {
        e.preventDefault();
        socket.emit('criar_sala');
        socket.on('sala_criada', (data) => {
            console.log('Sala criada com sucesso:', data.roomCode);
            history.pushState(null, null, `/chamada/${data.roomCode}`);
            roomCode = data.roomCode;
            divJoin.style.display = 'none';
            divChat.style.display = 'block';
        });
        socket.emit('set_nome', document.getElementById('nome').value)
    }

    function enviarMensagem(e) {
        e.preventDefault();

        let mensagem = document.querySelector('#mensagem').value;
        if (!mensagem) return;

        console.log("passou ", mensagem);

        const mensagemObj = {
            message: mensagem,
            roomCode: roomCode
        };

        socket.emit('enviar_mensagem', mensagemObj);
        document.querySelector('#mensagem').value = "";
    }

    function renderizarMensagens() {
        divMensagemContainer.innerHTML = "";
        listaMensagem.forEach(message => {
            const divCardMensagem = document.createElement('div');
            divCardMensagem.classList.add('card-mensagem');
            const p = document.createElement('p');
            if (myId === message.idAutor) {
                p.innerHTML = `${message.text} <span>: ${message.autor}</span>`;
                divCardMensagem.classList.add('my-message');
            } else {
                p.innerHTML = `<span>${message.auto}: </span> ${message.text}`;
            }
            const spanHorario = document.createElement('span');
            spanHorario.innerHTML = message.horario;
            divCardMensagem.appendChild(p);
            divCardMensagem.appendChild(spanHorario);
            divMensagemContainer.appendChild(divCardMensagem);
        });
    }  
</script>