* {
    padding: 0;
    margin: 0;
}

:root {
    --cor0: #FA120D;
    --cor1: #DE2F0B;
    --cor2: #F54C00;
    --cor3: #DE6D0B;
    --cor4: #FA9B0D;
    --cor5: #16262E;
    --cor6: #f8f7f7;
}

body {
    background-image: linear-gradient(to right, var(--cor0) , var(--cor1), var(--cor2));
}

header {
    background-color: var(--cor5);
    color: var(--cor6);
    padding: 20px;
}

main {
    background-color: var(--cor6);
    max-width: 96%;
    padding: 20px;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.397);
}

img {
    margin: 30px;
    width: calc(33.3333% - 60px);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

footer p > a {
    text-decoration: none;
    color: white;
}

footer p > a:hover {
    color: rgb(0, 132, 255);
}

.contimg{
    display: flex;
    flex-wrap: wrap;
}

.flex {
    flex-grow: 1;
}

.tam {

}