@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor1: #08083f;
    --cor2: #f0f8ff;
    --cor3: #07072cc0;
    --cor4: #06061a;
    --cor5: #07072c1a;
    --cor6: #0000005b;
    --cor7: rgba(255, 0, 0, 0.418);
    --cor8: #5c5cd6;
}
body {
    background-color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-bottom: 20px;
    color: var(--cor3);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.356);
}

header {
    background-color: var(--cor8);
    height: 10vh;
    color: var(--cor2);
    text-align: center;
}

main {
    height: 85vh;
}

div#main {
    background-color: var(--cor2);
    width: 95%;
    margin: 100px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px var(--cor6);
    text-align: center;
    font-weight: bold;

}

table{
    margin: auto;
    width: 90%;
   font-size: 1.2em;
}

table td {
    text-align: center;
    height: 30px;
}

table#list {
    background-color: var(--cor4);
    border-collapse: collapse;
    font-size: 0.9em;
}

table#list td, th {
    padding: 10px;
}

table#list td {
    background-color: var(--cor8);
    border-bottom: 2px solid var(--cor5);
}

table#list th {
    background-color: var(--cor1);
    color: var(--cor2);
}

button {
    width: 120px;
    height: 40px;
    margin: 10px;
    background-color: var(--cor3);
    color: var(--cor2);
    border: 1px solid var(--cor4);
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    transition-duration: 0.3s;
    background-color: var(--cor4);
    border: 1px solid var(--cor3);
}

input, select {
    background-color: var(--cor5);
    border: none;
    box-shadow: 2px 2px 4px var(--cor6);
    height: 25px;
    width: 90%;
    margin: 5px;
    font-size: 1em;
    text-align: center;
}


div#res {
    display: none;
    background-color: var(--cor7);
    color: var(--cor2);
    padding: 30px;
    width: 400px;
    border-radius: 15px;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}



div#sair {
    width: 20px;
    height: 20px;
    background-color: #f0f8ff;
    border-radius: 50%;
    margin-left: 99%;
}

footer {
    background-color: var(--cor8);
    height: 5vh;
    padding: 20px;
    font-size: 1.2em;
    text-align: center;
    color: var(--cor2);

}