div#form {
    max-width: 800px;
}

h2 {
    text-align: center;
}


form#test{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#form table {
    width: 60%;
}

div#divBtn{
    margin: 30px;
    align-self: center;
}
