* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    background-image: url("../images/plano-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    flex-direction: column;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos toda a altura da janela */
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: rgba(0, 0, 0, 0.678);
        color: white;
        height: 20%;
        position: relative; /* Adicionado */
        z-index: 1; /*usado para sobrepor o main*/
        box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.349);
}

header i.boxIco {
    font-size: 75px;
    margin: 0px 30px;
    padding: 10px;
}

aside {
    display: flex;    
    justify-content: space-between;
}

h1 {
    width: 90%;
    padding-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

main {
    flex: 1; /* Ocupa o espaço restante */
    background-color: rgba(255, 255, 255, 0.89);
    width: 90%;
    margin: auto;
    padding: 20px;
}

footer {
    display: flex;
    background-color: rgb(201, 74, 0);
    color: white;
    padding: 20px;
    font-size: 0.7em;
    font-weight: bold;
    bottom: 0; /*deixa ele no final da página*/
}
