@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor0: #f1f1f1;
    --cor1: #0F0E0E;
    --cor3: #DC851F;

}

body {
    background-color: var(--cor0);
}

header {
    background-color: var(--cor1);
    color: var(--cor0);
}

header > aside {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

header > aside > h1 {
    text-align: center;
    margin: auto;
}

header > aside > h1 > span {
  color: var(--cor3);
}


.base1 {
    justify-content: flex-start;
}


nav > ul {
    display: flex;
    justify-content: flex-end;
}

nav > ul li {
    padding: 7px;
    list-style-type: none;
    
}