 <h1>Cadastro de vendas</h1>
    <div class="formulario">
        <form action="/add-venda" method="post">
            <label>Nome Vendedor: </label>
            <input type="text" name="nomeFunc" id="nomeFunc">
            <br>
            <label>Valor da Venda: </label>
            <input type="text" name="valorVenda" id="valorVenda">
            <br>
            <button type="submit">Cadastrar</button>
        </form>
        
    </div>
    
    <div id="res">
    </div>