<div class="chat">
    <h1>Chat</h1>
    <div class="mensagens-container">
        <!-- <div class="card-mensagem my-message">
            <p>sdsdasdasdsadas <span>: Autor</span></p>
            <span>22:00</span>
        </div>  
        <div class="card-mensagem">
            <p>sdsdasdasdsadas <span>: Autor</span></p>
            <span>22:01</span>
        </div> -->
    </div>
    <input type="text" placeholder="'Mensagem" id="mensagem">
    <button onclick="enviar(event)">Enviar</button>
</div>