<div class="join">
    <h1>Join</h1>
    <div class="form-group">
        <input type="text" placeholder="Nome de Usuário" id="nome">
        <button onclick="criarSala(event)">Criar Sala</button>
    </div> 
    <h3>ou</h3>
    <div class="form-group">
        <input type="text" placeholder="Digite o código da sala" id="codSala">
        <button onclick="entrar(event)">Entrar</button
    </div>
</div>