/* ------------- INFO USER ------------- */

.info_user {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
}

.info_user aside {
  width: 30%;
  min-width: 400px;
  background-color: var(--cor002);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid var(--cor009);
}

.img_container {
  border: 1px solid var(--cor009);
  background-color: var(--cor007);
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #0000001f;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container img {
  max-width: 250px;
  padding: 0;
}

.img_container .icon_edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.3em;
  border-radius: 50%;
  backdrop-filter: blur(90px);
  background-color: #0000001b;
  color: var(--cor001);
  padding: 7px;
  transition: 0.4s;
}

.img_container .icon_edit:hover {
  color: var(--cor009);
}

.info_user aside h2 {
  margin-top: 1em;
  font-size: 2em;
}

.info_user section {
  position: relative;
  background-color: var(--cor023);
  flex-grow: 1;
  display: flex;
}

.info_user section > div {
  position: relative;
  max-width: 500px;
  display: flex;
  gap: 20px;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 1em;
}

.info_user section > div > h2 {
  margin-top: .5em;
}

.info_user section .lista_membros {
  max-height: 600px;
  overflow: auto;
}

.info_user section .lista_add_amigos_container {
  background-color: var(--cor002);
  position: absolute;
  width: 100%;
  max-width: none;
  padding: 0 1em;
  height: 100%;
  overflow: hidden;
}

.info_user section .lista_add_amigos_container > h2 {
  margin-top: 1em;
}

.info_user section .lista_add_amigos_container .btn_fechar_info {
  position: absolute;
  top: 10px;
  right: 30px;
}

.info_user section .lista_add_amigos_container .form-group input {
  margin-top: 2em;
}

.info_user section .lista_add_amigos_container .lista_usuarios {
  max-height: 450px;
  overflow: auto;
}

.info_user section .lista_notificacao {
  align-items: flex-end;
}
.info_user section .lista_notificacao .lista_membros {
  width: 400px;
}

.info_user section .lista_notificacao .card_notificacao {
  justify-content: space-between;
}

.info_user section .lista_notificacao .btn_notificacao_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.info_user section .lista_notificacao .btn_notificacao_container > * {
  position: static;
}

.collapse_total {
  transition: height 0.5s;
  height: 0 !important;
}

.expand_total {
  transition: height 2s;
  height: 100% !important;
}

/* ------------- ------------- */
