@keyframes loadingProgress {
  0% {
    stroke-dashoffset: 470; /* Começa com o círculo vazio */
  }
  50% {
    stroke-dashoffset: 0; /* Chega ao círculo completo */
  }
  100% {
    stroke-dashoffset: -470; /* Volta ao estado vazio */
  }
}

.collapse_membros {
  overflow: hidden !important;
  transition: height 0.5s;
  height: 0 !important;
}

.expand_membros {
  transition: height 2s;
  height: 500px !important;
}
