.contacts_container {
  position: relative;
}

.text_decoration_blue {
  cursor: pointer;
  font-size: 1em;
}

.text_decoration_blue:hover {
  text-decoration: underline;
}

/* ------------- INFO USER ------------- */

.info_user {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
}

.info_user aside {
  width: 30%;
  min-width: 400px;
  background-color: var(--cor002);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid var(--cor009);
}

.img_container {
  border: 1px solid var(--cor009);
  background-color: var(--cor007);
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #0000001f;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_container img {
  max-width: 250px;
  padding: 0;
}

.img_container .icon_edit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.3em;
  border-radius: 50%;
  backdrop-filter: blur(90px);
  background-color: #0000001b;
  color: var(--cor001);
  padding: 7px;
  transition: 0.4s;
}

.img_container .icon_edit:hover {
  color: var(--cor009);
}

.info_user aside h2 {
  margin-top: 1em;
  font-size: 2em;
}

.info_user section {
  position: relative;
  background-color: var(--cor023);
  flex-grow: 1;
}

.info_user section .lista_amigos_container {
  position: relative;
  max-width: 600px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 0 1em;
}

.info_user section .lista_amigos_container > h2 {
  margin-top: 1em;
}

.info_user section .lista_amigos_container .lista_mebros {
  max-height: 600px;
}

.info_user section .lista_add_amigos_container {
  background-color: var(--cor002);
  position: absolute;
  width: 100%;
  padding: 0 1em;
  height: 100%;
  overflow: hidden;
}

.info_user section .lista_add_amigos_container h2 {
  margin-top: 1em;
}

.info_user section .lista_add_amigos_container .btn_fechar_info {
  position: absolute;
  top: 10px;
  right: 30px;
}

.info_user section .lista_add_amigos_container .form-group input {
  margin-top: 2em;
}

.info_user section .lista_add_amigos_container .lista_usuarios {
  max-height: 450px;
  overflow: auto;
}


.collapse_total { 
  transition: height 0.5s;
  height: 0 !important;
}

.expand_total {
  transition: height 2s;
  height: 100% !important;
}

/* ------------- ------------- */

.contatos_container {
  position: relative;
  min-height: 95vh;
  display: flex;
}

.conversas_container {
  background-color: var(--cor002);
  border-right: 1px solid var(--cor007);
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.conversas_container aside {
  background-color: var(--cor008);
  padding: 0.5em;
  min-height: 60px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--cor007);
  display: flex;
  justify-content: space-between;
}

.conversas_container aside button {
  background-color: var(--cor013);
  color: var(--cor004);
  width: 25px;
  height: 25px;
  font-size: 1.1em;
  margin-right: 1em;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conversas_container aside button:hover {
  background-color: var(--cor014);
}

.conversas_container .conversas_main_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */
  height: 100%;
  padding: 1em 0.5em;
}

.conversas_container .conversas_main_container.collapse {
  height: 0%;
}

.conversas_container .conversas_main_container .form_grupo {
  background-color: var(--cor002);
  top: 0;
  height: 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: flex-start;
  margin: 1em 0;
}

.conversas_container .conversas_main_container .form_grupo.collapse {
  overflow: hidden;
  height: 0;
  transition: height 0.5s;
}

.conversas_container .conversas_main_container .form_grupo.expand {
  height: 90%;
  transition: height 2s;
}

.conversas_container .conversas_main_container .input_pesquisar_grupos {
  color: var(--cor001);
  width: 90%;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid var(--cor009);
  border-radius: 5px;
  margin-bottom: 1em;
}

.conversas_container .conversas_main_container .input_pesquisar_grupos:focus {
  outline: none; /* Remove o contorno padr찾o */
}

.conversas_container .conversas_main_container .grupos_container {
  background-color: var(--cor002);
  width: 95%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow: auto;
  gap: 3px;
}

.conversas_container .conversas_main_container .grupos_container::-webkit-scrollbar {
  width: 7px; /* Largura do scrollbar */
}

.conversas_container .conversas_main_container .grupos_container::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo do scrollbar */
}

.conversas_container .conversas_main_container .grupos_container::-webkit-scrollbar-thumb {
  background: var(--cor010); /* Cor do thumb (parte m처vel) do scrollbar */
  border-radius: 5px;
}

.conversas_container .conversas_main_container .grupos_container::-webkit-scrollbar-thumb:hover {
  background: var(--cor011); /* Cor do thumb ao passar o mouse */
}

.conversas_container .conversas_main_container .grupos_container .card_conversa {
  background-color: var(--cor007);
  width: 90%;
  padding: 0.5em;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 0.8em;
  border-radius: 5px;
}

.conversas_container .conversas_main_container .grupos_container .card_conversa:hover {
  background-color: var(--cor006);
}

.conversas_container .conversas_main_container .grupos_container .card_conversa img {
  max-width: 55px;
  border-radius: 50%;
}

.mensagens_container {
  position: relative;
  background-color: var(--cor005);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.mensagens_container .mensagens_main_container {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* ----------- Container de Info do Grupo ------------- */

.mensagens_container .mensagens_main_container .info_grupo_container {
  background-color: var(--cor002);
  position: absolute;
  top: 0;
  left: 10px;
  height: 500px;
  width: 400px;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 5px 15px #0000001d;
  overflow: hidden;
}

.btn_membros_container {
  position: absolute;
  top: 15px;
  right: 15px;
  display: flex;
  gap: 10px;
}

.info_grupo_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.btn_fechar_info {
  background-color: var(--cor013);
  color: var(--cor004);
}

.btn_fechar_info:hover {
  background-color: var(--cor014);
}

.btn_add_membro {
  background-color: var(--cor020);
  color: var(--cor019);
}

.btn_add_membro:hover {
  background-color: var(--cor021);
}

.info_grupo_container > h2 {
  color: var(--cor001);
  padding-left: 0.5em;
  margin-top: 0.5em;
  font-size: 1.3em;
}

.lista_mebros {
  padding: 0.5em;
  flex-grow: 1;
  max-height: 385px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card_membro {
  position: relative;

  background-color: var(--cor018);
  width: 95%;
  padding: 0.5em;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 0.8em;
  border-radius: 5px;
}

.card_membro:hover {
  background-color: var(--cor006);
}

.card_membro img {
  max-width: 40px;
  border-radius: 50%;
}

.card_membro button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
}

.btn_apagar_grupo {
  width: 150px;
  margin: auto;
  font-size: 1.2em;
  padding: 0.2em 0;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: var(--cor015);
  color: var(--cor002);
  transition: 0.5s;
}

.btn_apagar_grupo:hover {
  background-color: var(--cor002);
  color: var(--cor015);
  border-color: var(--cor015);
}

.btn_remover_membro {
  background-color: var(--cor016);
  color: var(--cor015);
}

.btn_remover_membro:hover {
  background-color: var(--cor017);
}

/* -----------  ------------- */

.mensagens_container aside {
  background-color: var(--cor008);
}

.mensagens_container aside .card_avatar {
  max-width: 300px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.mensagens_container aside .card_avatar img {
  max-width: 60px;
  border-radius: 50%;
  padding: 0.5em;
  cursor: pointer;
}

.mensagens_container .mensagens_main_container .conteudo_container {
  flex-grow: 1;
  padding: 1em;
  background-color: var(--cor005);
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 600px;
  overflow: auto;
}

.scroll-bar::-webkit-scrollbar {
  width: 7px; /* Largura do scrollbar */
}

.scroll-bar::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo do scrollbar */
}

.scroll-bar::-webkit-scrollbar-thumb {
  background: var(--cor010); /* Cor do thumb (parte m처vel) do scrollbar */
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: var(--cor011); /* Cor do thumb ao passar o mouse */
}

.card_msg {
  padding: 0.5em 1em;
  font-weight: 500;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: flex-end;
}

.card_msg span {
  font-size: 0.7em;
}

.card_msg_pai {
  display: flex;
  flex-direction: column;
}

.mensagens_container .mensagens_main_container .conteudo_container .msg_user {
  background-image: var(--degrade001);
  color: var(--cor002);
  align-self: flex-end;
}

.card_msg_integrante {
  align-self: flex-start;
}

.card_msg_integrante > span {
  margin: 0.5em;
  font-weight: bold;
}

.mensagens_container .mensagens_main_container .conteudo_container .msg_integrante {
  background-color: var(--cor002);
  color: var(--cor001);
}
.mensagens_container .mensagens_main_container .nova_mensagem_container {
  background-color: var(--cor008);
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.mensagens_container .mensagens_main_container .nova_mensagem_container input {
  flex-grow: 1;
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid var(--cor009);
  color: var(--cor001);
}

.mensagens_container .mensagens_main_container .nova_mensagem_container input:focus {
  outline: none; /* Remove o contorno padr찾o */
}

.mensagens_container .mensagens_main_container .nova_mensagem_container button {
  background-image: var(--degrade002);
  color: var(--cor002);
  border: 1px solid transparent;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  font-size: 1.2em;
  transition: 0.4s;
}

.mensagens_container .mensagens_main_container .nova_mensagem_container button:hover {
  background-image: none;
  background-color: var(--cor002);
  color: var(--cor004);
  border-color: var(--cor004);
  font-size: 1.5em;
}
