<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Projeto Video Chamada</title>

    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
</head>

<body>
    <%- include('header.ejs') %>
        <div class="container">
          

                <%- include(content) %>
         
        </div>
        <%- include('footer.ejs') %>
</body>

</html>